# Hoist these packages so they are directly importable without needing explicit
# devDependency declarations for each transitive package.
public-hoist-pattern[]=@mui/*
public-hoist-pattern[]=@use-gesture/*
public-hoist-pattern[]=@eslint/*
public-hoist-pattern[]=globals
