<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="Console"  class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <logger name="com.netflix.conductor.sdk.examples" level="info"/>
    <root level="warn">
        <appender-ref ref="Console"/>
    </root>
</configuration>
