@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro-bold.woff') format('woff');
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#content {
  height: 100%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ffff;
  margin: 0;
  padding: 0;
  height: 100%;
}
.ui-content {
  padding: 0px 0px 0px 10px;
}
.container-fluid {
  padding: 0px 0px 0px 0px;
}
.navbar-collapse {
  background-color: #48a770;
  border-color: #48a770;
}

.navbar-inverse .navbar-collapse{
  border-color: #48a770;
  color: #48a770;
}
.navbar-inverse {
  background-color: #48a770;
  border-radius: 0px;
  width: 100%;
  border-color: #48a770;
}
.navbar-inverse .navbar-nav {
  background: #48a770;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background: #48a770;
}
.navbar {
  background-color: #48a770;
}
.navbar .container {
  background-color: #48a770;
}

.appMainBody {
  float: left;
}

.navbar-header {
  background-color: #48a770;
}
.navbar-nav {
  background-color: #48a770;
}

.navbar-inverse .container {
  width: 100%;
  font-size: 1.1em;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fffffe;
}
.Footer {
  background: #1c2b36;
  color: #000000;
}

.Footer-container {
  margin: 0 auto;
  padding: 5px 5px;
  text-align: right;
}

.Footer-text {
  color: rgba(255, 255, 255, 255);
  font-size: 0.9em;
  letter-spacing: 1px;
}

.Footer-text--muted {
  color: rgba(255, 255, 255, .3);
}

.Footer-spacer {
  color: rgba(255, 255, 255, .3);
}

.Footer-text,
.Footer-link {
  padding: 2px 5px;
  font-size: 1em;
}

.Footer-link,
.Footer-link:active,
.Footer-link:visited {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

.Footer-link:hover {
  color: rgba(255, 255, 255, 1);
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list, .bm-item-list a:link  {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item-list a:link, .bm-item-list a:visited  {
  color: #b8b7ad;
  padding: 0.8em;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-burger-button {
  top: 10px;
  left: 10px;
  color: #ffffff;
}

.sub-menu {
  margin-left: 10px;
}

.jumbotron {
  text-align: center;
  display: table;
  max-width: 69em;
  margin: 0 auto;
  margin-top:10px;
}

.button-pill {
    border: none;
    padding: 0.6em 1.2em;
    background: #388a5a;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}
h4 .red {
  color: #ff0000;
}
h4 .green {
  color: darkgreen;
}
h4 span {
  margin-right: 10px;
}
.redbg {
  background: #cc1111;
}
.bluebg {
  background: #5bc0de;
}
.navybg {
  background: #337ab7;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.column {
    float: left;
    width: 50%;
    padding: 0 2em;
    min-height: 300px;
    position: relative;
    box-sizing: border-box;
}
.column:nth-child(3) {
    box-shadow: -1px 0 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
}

h1 {
  font-size: 2em;
  display: block;
  padding: 0 0 0.6em 0.1em;
  color: #000000;
}
h3 {
  font-size: 1.6em;
  display: block;
  padding: 0 0 0.6em 0.1em;
  color: #aca89a;
}
h4 {
  font-size: 1.2em;
  display: inline;
  padding-right: 10px;
}
.info {
  color: #48a770;
  font-size: 1.0em;
}
.info-table {
  width: 99%;
}
.info-table, .info-table  td {
  margin: 5px;
  padding: 15px 10px 10px 10px;
  color: #000000;
  border: 1px solid #ddd;
}

.info-table th {
  margin: 5px;
  padding: 15px 10px 10px 10px;
  color: #8a6d3b;
  backgrounds: #f3efe0;
  background: #faf2cc;
}
.info-table .red {
  color: #ff0000;
}
.info-table .green {
  color: #48a770;
}
.popover{
  max-width: 90%;
}

pre {
  width: 90%;
  overflow: scroll;;
  font-size: 0.77em;
  word-wrap: break-word;
  word-break: break-all;
}

.blue {
  color: navy;
}
input[type='search']{
  min-width: 100px;
  max-width: 333px;
  display: inline;
}
.inline {
  display: inline;
  margin-left: 10px;
  vertical-align: sub;
}
.number-input {
  display: inline;
  min-width: 50px;
  width: 75px;
  text-align: right;
}
.search-label {
  padding-right: 10px;
  font-size: 1em;
  vertical-align: bottom;
}
.form-control input {
  width: 100px;
}
iframe {
  border: 0;
  width:100%;
}

.node rect {
  stroke: #cccccc;
  fill: #fff;
  stroke-width: 0.6px;
}
.node polygon {
  stroke: #555;
  fill: #fff;
  stroke-width: 0.6px;
}
.node circle {
  stroke: #555;
  fill: #fff;
  stroke-width: 0.6px;
}
.arrowhead {
  stroke: blue;
  fill: blue;
  stroke-width: 1.5px;
}
.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
.edgeLabel {
  fill: blue;
}
a:hover {
  text-decoration: none;
}



.hf:before, .hf:after {
  display: table;
  content: " ";
}

.hf:after {
  clear: both;
}

.header-bar {
  border-bottom: 1px solid #1fa67a;
  max-height: 60px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
  background: #1fa67a url(/images/noise.png);
}

.product-bar {
  max-height: 55px;
  color: #CCC;
  position: relative;
  z-index: 100;
  font-size: 1.2em;
  left: 20px;
  top: 2px;
  line-height: 50px;
  padding: 5px 0px;
}

.product-bar a {
  text-decoration: none;
  xtext-transform: uppercase;
  color: #fff;
  xtext-shadow: 1px 1px 0 #1d9d74, 2px 2px 0 rgba(0,0,0,.15);
}

.product-bar h4 {
  color: #fff;
}

.env-bar {
  max-height: 55px;
  color: #000000;
  position: relative;
  z-index: 100;
  font-size: 1.0em;
  left: -10px;
  top: 5px;
  line-height: 50px;
}

.logo {
  color: white;
  background-color: #062f4f;
  xbox-shadow: 0px 0px 5px #585858;
  xborder-right: 1px solid #585858;
  width: 176px;
}
.logo.textual a {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 50px;
  padding: 5px 20px;
  text-decoration: none;
  xborder-right: 1px solid #ccc;
  xbox-shadow: 0 0 5px #1fa67a;
}

.oncall a {
  font-size: 1.2em;
  top: 8px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.logo a {
  display: block;
  max-height: 60px;
}

.user-photo {
  object-fit: cover;
  border-radius: 50%;
}

.appselector-body {
  width: 250px;
  margin-left: -21px;
  margin-top: 4px;
  border-radius: 0px 0px 5px 5px;
  text-shadow: 1px 1px 0 #1d9d74, 2px 2px 0 rgba(0,0,0,.15);
  background: #53bd96 url('/images/noise-trans.png');
  z-index: 200;
  overflow: hidden;
}

.app {
  border-bottom: 1px solid #ddd;
}

.app:hover {
  background: #53aa96 url('/images/noise-trans.png');
  cursor: pointer;
}

.menuList {
  margin-top: 70px;
}

.menuHeader {
  x-background-color: #062f4f;
  height: 42px;
  display: block;
  line-height: 45px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: #fff;
}


.menuItem {
  x-background-color: #fff;
  height: 42px;
  display: block;
  line-height: 45px;
  padding: 0 20px;
  x-letter-spacing: 1px;
  x-border-bottom: 1px solid #fff;
}

.menuItem:hover {
  color: #ccc;
  background-color: #062f4f;
  cursor: pointer;
}

.app h4 {
  padding: 10px;
  font-size: 1.2em;
}

.menuList a {
  font-size: 12px;
  top: 8px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.left-menu {
  width: 176px;
  background: #234665;
  border-right: 1px solid #234665;
  min-height: 100%;
  z-index: 300;
  float: left;
  position: fixed;
  overflow: hidden;
  box-shadow: 0px 0px 5px #234665;
}

.menu-bars {
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.menu-bars-close {
  text-align: right;
  font-size: 1.2em;
  cursor: pointer;
}
.menu-footer {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  background-color: #1c2b36;
  display: block;
  width: 176px;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
}
.tooltip {
  min-width: 500px;
  opacity: 1.0;
  border: 1px solid #ccc;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 5px;
}
.code {
  overflow-wrap: break-word;
  height: 300px;
}
.table-bordered {
  border: 1px solid #eeeeff;
}
.panel-default>.panel-heading {
  color: #2E6DA4;
  background-color: rgba(217, 237, 247, 0.5);;
  background-image:linear-gradient(180deg,#D9EDF7 0,#D9EDF7);
}

table th {
  color: #2E6DA4;
  background-color: rgba(217, 237, 247, 0.5);;
  line-height: 25px;
  vertical-align: top;
  font-weight: 400;
  padding-bottom: 25px;
}
table tbody {
  font-size: 0.9em;
  padding-top: 10px;
}
.error {
  position: fixed;
  background-color: #ffffff;
  left: 220px;
  top: 50px;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 5px;
  padding: 10px 5px 5px 15px;
  z-index: 1000;
}

.right-prop-overlay {
  min-height: 100%;
  min-width: 600px;
  top: 5px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 55px rgba(0,0,0,.7);
  padding-right: 10px;
}



#propsdiv {

}
#abcd {
  min-height: 100%;
  min-width: 600px;
  top: 5px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 55px rgba(0,0,0,.7);
  padding-right: 10px;
}
.close-btn {
  xfloat: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: solid 10px #ffffff;
  border-radius: 300px;
  box-shadow: 1px 1px 1px 1px #cccccc;
  background-color: #ffffff;
}
.propsheader {
  padding-top: 5px;
  margin-left: -10px;
  padding-bottom: 20px;
  margin-top: -5px;
  display: block;
  min-width: 100%;
  background-color: rgba(217,237,247,.5);
}
.bootstrap-tokenizer .token .close-button {
    bottom: 0;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: 0;
}
.bootstrap-tokenizer .token {
    background-color: #e7f4ff;
    border: 0;
    border-radius: 2px;
    color: #1f8dd6;
    display: inline-block;
    line-height: 1em;
    margin: 0 3px 3px 0;
    padding: 4px 7px;
    position: relative;
}

.bootstrap-tokenizer .token-removeable {
    cursor: pointer;
    padding-right: 21px;
}
.form-group {
  margin-bottom: 0px;
}
.nobold {
  font-weight: normal;
}
.red {
  color: red;
}
