name: CI

on:
  push:
    paths-ignore:
      - "conductor-clients/**"
  pull_request:
    paths-ignore:
      - "conductor-clients/**"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Gradle wrapper validation
        uses: gradle/wrapper-validation-action@v3
      - name: Set up Zulu JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Cache SonarCloud packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-
      - name: Force Docker API Version
        run: echo 'api.version=1.44' > ~/.docker-java.properties
      - name: Build with Gradle
        if: github.ref != 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew build --scan
      - name: Build and Publish snapshot
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        run: |
          echo "Running build for commit ${{ github.sha }}"
          ./gradlew build
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: "**/build/reports"
      - name: Store Buildscan URL
        uses: actions/upload-artifact@v6
        with:
          name: build-scan
          path: "buildscan.log"
  build-ui:
    runs-on: ubuntu-latest
    container: cypress/browsers:node-22.11.0-chrome-130.0.6723.116-1-ff-132.0.1-edge-130.0.2849.68-1
    defaults:
      run:
        working-directory: ui
    steps:
      - uses: actions/checkout@v6

      - name: Install Dependencies
        run: yarn install

      - name: Build UI
        run: yarn run build

      - name: Run E2E Tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ui
          install: false
          start: yarn run serve-build
          wait-on: "http://localhost:5000"

      - name: Run Component Tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ui
          install: false
          component: true

      - name: Archive test screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots
          path: ui/cypress/screenshots

      - name: Archive test videos
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: cypress-videos
          path: ui/cypress/videos

  build-docker:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Zulu JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build Server JAR
        run: |
          ./gradlew :conductor-server:build -x test -x spotlessCheck -x shadowJar -x :conductor-os-persistence-v3:build
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Build UI
        run: |
          cd ui
          corepack enable && corepack prepare yarn@stable --activate
          export REACT_APP_MONACO_EDITOR_USING_CDN=false
          export REACT_APP_ENABLE_ERRORS_INSPECTOR=true
          yarn config set network-timeout 600000 -g
          yarn install && cp -r node_modules/monaco-editor public/ && yarn build
      - name: Stage artifacts for Docker build
        run: |
          mkdir -p docker/server/libs
          cp server/build/libs/*boot*.jar docker/server/libs/conductor-server.jar
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Docker image - multi-arch (no push)
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/server/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: false
