name: Publish Conductor OSS toMaven Central
on:
  release:
    types:
      - released
      - prereleased
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (e.g., v1.0.0)'
        required: true
permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Gradle Build and Publish
    steps:
      - uses: actions/checkout@v6
      - name: Set up Zulu JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Publish release
        run: |
          export VERSION="${{github.ref_name}}"
          export PUBLISH_VERSION=`echo ${VERSION:1}`
          echo Publishing version $PUBLISH_VERSION
          ./gradlew publish -PmavenCentral -Pversion=$PUBLISH_VERSION -Pusername=${{ secrets.SONATYPE_USERNAME }} -Ppassword=${{ secrets.SONATYPE_PASSWORD }}
        env:
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}

  publish-docker:
    runs-on: ubuntu-latest
    name: Gradle Build and Publish to Container Registry
    steps:
      - uses: actions/checkout@v6
      - name: Set up Zulu JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Login to Docker Hub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build with Gradle
        run: |
          export VERSION="${{github.ref_name}}"
          export PUBLISH_VERSION=`echo ${VERSION:1}`
          echo "RELEASE_VERSION=$PUBLISH_VERSION" >> $GITHUB_ENV
          echo Publishing version $PUBLISH_VERSION
          ./gradlew build -x test

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Server
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/server/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            conductoross/conductor:${{ env.RELEASE_VERSION }}
            ${{ (github.event_name == 'release' && !github.event.release.prerelease) && 'conductoross/conductor:latest' || '' }}