.react-datepicker {
  border: inherit;
  font-family: inherit;

  .react-datepicker__navigation {
    margin-top: 16px;
    margin-bottom: 8px;
    top: 7px;

    &--previous {
      right: 25px;
      left: inherit;
      padding-right: 5px;
      padding-top: 2px;
    }

    &--next {
      right: 0;
      padding-left: 5px;
      padding-top: 2px;
    }

    &-icon--next::before,
    &-icon--previous::before {
      border-color: rgba(5, 5, 5, 0.7);
      border-width: 2px 2px 0 0;
      height: 0.45rem;
      width: 0.45rem;
    }

    &:hover *::before {
      border-color: inherit;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 50%;
    }
  }

  .react-datepicker__month-container {
    .react-datepicker__header {
      background-color: transparent;
      border-bottom: inherit;

      .react-datepicker__day-names {
        align-items: center;
        justify-content: center;
        display: flex;

        .react-datepicker__day-name {
          font-size: 13px;
          line-height: 1.5;
          font-weight: 300;
          width: 36px;
          height: 40px;
          margin: 0 2px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(5, 5, 5, 0.4);
        }
      }
    }

    .react-datepicker__current-month {
      padding-left: 24px;
      padding-right: 12px;
      max-height: 30px;
      min-height: 30px;
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 1.5;
      font-weight: 400;
      padding-top: 4px;
      cursor: pointer;
      display: flex;
    }
  }
}

.react-datepicker__day {
  font-weight: 300;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transform: scale(1.1);
  padding-top: 7px;
  line-height: 1.5;
  border: 1px solid transparent;

  &:hover {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-color: rgba(5, 5, 5, 0.4);
    background-color: rgba(25, 118, 210, 0.04);
  }
}

.react-datepicker__day--today {
  border-radius: 50%;
  border: 1px solid rgba(5, 5, 5, 0.4) !important;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
}

.react-datepicker__day--in-selecting-range {
  background-color: transparent !important;
  color: #050505;
  border: 1px dashed rgba(5, 5, 5, 0.1);
}

.react-datepicker__day--in-range {
  background-color: #e3eefa;
  color: #050505;

  &:hover {
    border: 1px solid transparent;
    background-color: rgba(25, 118, 210, 0.2);
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--range-end {
  color: #ffffff !important;
  background-color: #1976d2 !important;
  font-weight: 400 !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--range-end:hover {
  background-color: #30499f !important;
}

.react-datepicker__day--disabled {
  color: #ccc !important;
}
